@CHARSET "ISO-8859-1";
body{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
    background-size: cover;
}
.footer{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #333333;
	font-size: 12px;
	position: absolute;
	bottom: -100px;
	left: 0;
	right: 0;
	background: white;
}
.dashboard-footer{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #333333;
	font-size: 12px;
	background: #ddeeee;
}
.red{
	color: #f44141;
}
.blue{
	color: #4168f4;
}
.green{
	color: #17a536;
}
.yellow{
	color: #f4bb41;
}
.uppercase{
	text-transform: uppercase;
}
.icon{
	width: 28px;
	align: left;
}
.login-form{
	position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px;
    background: #41baf4;
    width: fit-content;
    color: white;
    bottom: 0px;
    height: fit-content;
    z-index: 30;
	}
.login-form input{
	border: 2px solid silver;
	margin-bottom: 10px;
	padding: 10px 20px;
	width: 350px;
}
.login-form button{
	background:  #002cca;
	padding: 10px 20px;
	border: none;
	color: white;
	font-weight: bold;
	margin: 2%;
	width: 45%;
}
.login-form button:hover{
	background: #0000ca;
}
#loading-icon{
    width: 35px;
    display: none;
}
.info{
	color: white;
	background: #64c9fc;
	height: fit-content;
	padding: 15px;
	border-bottom: 1px solid white;
	padding-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
	z-index: 50;
}
#family-signup{
	position:absolute;
	color: white;
	background: #64c9fc;
	margin: 5px;
	border: 1px solid white;
	width: -webkit-fill-available;
	z-index: 50;
	display: none;
}
#family-signup a{
	color: white;
}
.main-page{
	height: -webkit-fill-available;
	background:white;
}
.menu{
	display: block;
	background: #4168f4;
	
	}	
	
.menu-item{
	padding:15px;
	color:white;
	text-align: center;
}
.menu-item:hover{
	background: #3158e4;
}
.only-desktop{
		display: none;
	}
.only-mobile-line{
	display: inline;
}
.only-mobile-block{
	display: block;
}
.logo-container{
	height: 80px;
	position:fixed;
	top: 0;
	}
.header{
		height: 80px;
		background: #4168f4;
		float: right;
		width: fit-content;
		
	}
.header-element{
		color: white;
		padding: 25px;
	}
.header-element:hover{
		background: #3158e4
	}
.shadow{
	box-shadow: 3px 3px 3px #888888;
}
.loading-panel{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: white;
		z-index: 200;
	}		
		
	.load-container{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;		
		width: fit-content;
		height: fit-content;
		margin: auto;
		text-align: center;
	}
	.notice-board{
		display: block;
		background: white;
	}
	.thing-template{
		margin: 30px;
		background:#3158e4;
		padding: 15px;		
		color: white;
		font-weight: bold;
	}
	.thing-template:hover{
		background:#4168f4;
	}
	.thing-template td{
		color: white;
		font-weight: bold
	}
	.template-title{	
		
	}
	.template-body{
		padding: 30px;
	}
	.selected-menu{
		background: #2148d4;
	}
	.selected-menu:hover{
		background: #2148d4;
	}
	.thing-icon{
		height: 50px;
	}
/*** 	DESKTOP 	***/
@media only screen and (orientation: landscape){
	.main-page{
		display: table;
		width: 100%;
		
	}
	.menu{
		display: table-cell;
		width: 200px;
	}
	.menu-item{
		text-align: left;
		width: 200px
	}
	.only-desktop{
		display: block;
	}
	.only-mobile-line{
		display: none;
	}
	.only-mobile-block{
		display: none;
	}
	.dashboard{
		display: table-cell;
		width: 100%;
		padding: 0;
		
	}
	.header{
		position:relative;
		height: 80px;
		background: #4168f4;
		width: 100%;
		top: -20px;
	}
	.header:hover{
		background: #4168f4;
	}
	.header-element{
		float: right;
		padding: 25px;
	}
	.header-element:hover{
		background: #3158e4
	}
	.notice-board{
		display: table;
		table-layout: absolute;
		border-collapse: separate;
  		border-spacing: 20px;
  		margin: 50px;
  		width: -webkit-fill-available;
	}
	.row{
		display: table-row;
	}
	.cell{
		display: table-cell;
		width: 45%;
	}
	
	
}

