@CHARSET "ISO-8859-1";
body{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
	position:fixed;
	background-color: rgba(205,205,205, 0.8);
	display: table;
	table-layout: fixed;
	width: 100%;
}
.banner-cell{
	display: table-cell;
	padding: 5px;
}
.login{
	text-align: right;
	vertical-align: middle;
	padding-right: 35px;
}
.login:hover{
	text-decoration: underline;
}
.footer{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #333333;
	font-size: 12px;
}
/*** 	DESKTOP 	***/
@media only screen and (orientation: landscape){
	.parallax {
	   	background-size: 100% 100%;
	}
}